<div class="home">
  <div class="row">
    <div class="col-md-12 header">
      <h1><i class="fa fa-home"></i> House Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 home-box-power">
      <h2>970 W</h2>
      <span class="power-label">Consuming at the moment</span>

      <ul class="list-group" ng-repeat="device in devices">
        <a  class="list-group-item" 
            ng-repeat="device in devices"
            href="#/history/{{device.id}}"
            ng-click="goHistory({{device.id}})" >
          <!-- <span class="badge">{{device.type.name}}</span> -->
          {{device.name}} <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" class="list-group-item show-more">See full list <i class="fa fa-angle-right"></i></a>
      </ul>

    </div>
    <div class="col-md-8">
      <canvas id="line" class="chart chart-line" data="data"
      labels="labels" legend="false" series="series" options="options"
      click="onClick">
      </canvas> 
    </div>
  </div>
</div>